{% load static %}
<footer>
    <div class="container_footer">
        <div class="avatar_footer">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/avatar_footer.png' %}" alt="Tiago F.">
            </a>
        </div>
        <div class="column_footer">
            <div class="profissional_ux">
                <h2>Tiaguera Myster</h2>
                <p>
                    <a href="https://www.behance.net/tiagofeliphe" target="_blank">Designer de interface UI & UX</a>
                </p>
                <p>
                    E-mail: <a href="mailto:tiago.desig@oultook.com.br">tiago.desig@oultook.com.br</a> 
                </p>
            </div>
            <div class="ferramentas_footer">
                <h2>Ferramenta</h2>
                <ul>
                    <li>
                        <a href="https://www.figma.com/@tiagofeliphe" target="_blank">
                            Figma
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social_footer">
                <h2>Rede sociais</h2>
                <ul>
                    <li><a href="https://www.instagram.com/tiago.f.machado/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100074500915445" target="_blank">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/tiago-feliphe-24435625a/" target="_blank">LinkdIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>