{% extends 'shared/base.html' %}
{% load static %}
{% block adicionalcss %}
    <link rel="stylesheet" href="{% static 'styles/sobre.css' %}">
{% endblock %}
{% block content %}
    <main>
        <section class="container">
            <div class="copy_sobre">
                <p>
                    Atualmente, estou dedicado ao estudo do Design de Interface, buscando constantemente a criação de experiências envolventes para os usuários. Acredito fervorosamente no poder transformador do design para melhorar a qualidade de vida das pessoas. Como designer de interface, minha atuação se concentra na harmonia entre elementos visuais e interativos, com o objetivo primordial de conceber interfaces que sejam intuitivas e de fácil utilização.
                </p>
                <p>
                    Minha missão é tornar a interação dos usuários com produtos e serviços uma experiência altamente agradável e eficiente. Estou comprometido em aplicar os princípios do design centrado no usuário, combinados com meu domínio técnico, para alcançar esse objetivo. Convido você a explorar meu portfólio e conhecer a trajetória que me levou a essa paixão pelo design de interface e à busca incessante por excelência na criação de experiências digitais.
                </p>
                <a href="{% static 'docs/curriculo.pdf' %}" target="_blank" class="download_cv">Ver curriculo</a>
            </div>
        </section>
    </main>
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}