{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block adicionalcss %}{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <title>Tiago F. | UI & UX Designer</title>
</head>
<body>
    {% include 'partials/_menu.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/_footer.html' %}
</body>
</html>